# Aula 3

In [44]:
x = 5
print(x)

5

In [45]:
y = 1.5

In [46]:
w= 'python'

In [47]:
a = True

In [48]:
b = [1, 2.6, w, 'w']
b

[1, 2.6, 'python', 'w']

In [49]:
z= x+y
z

6.5

In [50]:
w.__doc__

"str(object='') -> str\nstr(bytes_or_buffer[, encoding[, errors]]) -> str\n\nCreate a new string object from the given object. If encoding or\nerrors is specified, then the object must expose a data buffer\nthat will be decoded using the given encoding and error handler.\nOtherwise, returns the result of object.__str__() (if defined)\nor repr(object).\nencoding defaults to sys.getdefaultencoding().\nerrors defaults to 'strict'."

In [51]:
z.is_integer()

False

In [52]:
s = 6
s.is_integer()

True

In [53]:
print('Hello')

Hello

In [54]:
x = 1
type(x)

int

In [55]:
x = [1,2,3]
y=x
print(x,y)

[1, 2, 3] [1, 2, 3]

In [56]:
x.append(4)
print(x,y)

[1, 2, 3, 4] [1, 2, 3, 4]

In [57]:
x = 'olá'
print(x,y)

olá [1, 2, 3, 4]

In [58]:
x

'olá'

In [59]:
import copy
x = [1,2,3]
y=copy.deepcopy(x)
print(x,y)

[1, 2, 3] [1, 2, 3]

In [60]:
x.append(4)
print(x,y)

[1, 2, 3, 4] [1, 2, 3]

## Operadores

### Operadores aritiméticos

In [61]:
5/2

2.5

In [62]:
5//2

2

In [63]:
5%2

1

In [76]:
x = 1
y = 2
#x = x+y
x *= y
x

2

### Operadores Lógicos

In [65]:
x = 1
y = 2

x == y

False

In [66]:
y >= x

True

In [67]:
y < x

False

In [68]:
y != x

True

In [69]:
x=10
if x%2==0:
    print('par')


else:
    print('ímpar')

par

In [78]:
x = 1
y = 2
x is not y

True

In [79]:
x = [1,2,3]
1  in x

True